snippet pi "php tags inline" i
<?php $1 ?>$2
endsnippet

snippet ep "php tags title" i
<?php echo $page->$1;?>$2
endsnippet

snippet pfe "php for each" i
<?php foreach ($page->$1tags as $tag) {
  echo $tag." ";
}
?>
endsnippet

snippet incl "include" b
include "$1";$2
endsnippet

